@import '../../style/global.module.scss';

.RadioWrapper {
  margin-bottom: 2em;
  :global(.ant-radio-group) {
    position: relative;
    z-index: 1;
    &:after {
      position: absolute;
      z-index: -1;
      top: 3px;
      content: '';
      display: block;
      width: 100%;
      height: 32px;
      border-radius: 6px;
      background-color: rgba(154, 140, 140, 0.3);
      filter: blur(2px);
    }
  }
  :global(.ant-radio-button-wrapper) {
    border: none;
    font-size: $font-sm;
    color: $black_2;
    &:first-child {
      border: none;
      border-radius: 6px 0 0 6px;
    }
    &:not(:first-child)::before {
      height: 32px;
      top: 0;
      padding: 0;
      background-color: $natual;
      // border: none;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:hover {
      background-color: $natual;
      color: inherit;
    }
  }
  :global(.ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within) {
    box-shadow: none;
  }

  h4 {
    margin: 10;
    // line-height: 2;
    color: $black_2;
  }
}
