@import '../../style/global.module.scss';

.Wrapper {
  display: flex;
  padding-bottom: 10px;
  padding-left: 6px;

  button {
    font-size: inherit;
  }
}

.TextArea {
  &:global(.ant-input) {
    resize: none;
    background-color: $natual;
    // border: {
    //   left: none;
    //   right: none;
    //   top: none;
    //   bottom: 1px solid $natual2;
    //   radius: 0;
    // }
    border: none;
    font-size: inherit;

    &:hover {
      //   border-bottom: 1px solid $black;
    }

    &:focus {
      box-shadow: none;
      // border-bottom: 1px solid $black;
    }

    // &:focus {
    //   border-bottom: 1px solid #000;
    // }
    // &:hover {
    //   border-bottom: 1px solid #000;
    // }
  }
}
