@import '../../style/global.module.scss';

.Modal {
  margin-top: 6px;
  :global(.ant-btn) {
    height: inherit;
    padding: 0px 8px 2px;
  }
  span {
    font-size: $font-xs;
    letter-spacing: normal;
  }
}
:global(.ant-modal-body) {
  padding: 8px 20px !important;
  :global(.ant-input) {
    resize: none;
    border: none;
  }
  :global(.ant-input:focus) {
    border: none;
    box-shadow: none;
  }
}
