@import '../../style/global.module.scss';

.List {
  &:global(.ant-list) {
    :global(.ant-list-header) {
      padding: 20px 0 10px;
      font-weight: $font-bd;
      color: $black;
    }
  }
  :global(.ant-pagination) {
    flex-direction: row;
  }
  :global(.ant-comment-nested) {
    :global(.ant-comment) {
      border: none;
    }
  }

  :global(.ant-comment) {
    width: 100%;
    min-height: 30px;
    border-bottom: 1px solid $natual2;
    background-color: transparent;
  }
  .commentRoot {
    margin-bottom: 0;
    :global(.ant-comment-actions) {
      flex-direction: row;
      flex-shrink: 0;
      margin-left: auto;

      opacity: 0;
    }
    :global(.ant-comment-inner) {
      padding: 10px 0;
      background-color: transparent;
      &:hover {
        :global(.ant-comment-actions) {
          opacity: 1;
          transition: opacity 0.2s;
        }
        // background-color: $natual-hover;
      }
    }
  }
  :global(.ant-comment-content) {
    display: flex;
    align-items: center;
    font-size: $font-sm;
  }
  :global(.ant-comment-content-detail) {
    margin: 0 16px 0 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  :global(.ant-comment-nested) {
    margin-left: 0;
    padding: 0px;
    :global(.ant-comment-inner) {
      padding: 0px 0 0px 40px;
      background-color: transparent;
      &:hover {
        :global(.ant-comment-actions) {
          opacity: 1;
          transition: opacity 0.2s;
        }
        // background-color: $natual-hover;
      }
    }
  }
}
