@import '../../style/global.module.scss';

.tag {
  &:global(.ant-tag) {
    background: $light-primary;
    border: none;
    border-radius: 10px;
    color: $primary;
    font-weight: $font-bd;

    &:hover {
      background: $light-primary-hover;
      cursor: pointer;
    }
  }
}
